.text-sphere{

    
    width: 50%;
    right: 15%;
    align-items: center;
    position: absolute;
    right: -2%;
    top: 3%;

    
}

.content{
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Inter', 'sans-serif';
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
    color: #fff;

    
    
    


}




